.admin-page {
  height: auto;
  width: calc(100% - 2vh);
  max-width: 69em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}


.placeholder-box {
  height: 40px;
}

.entry-container {
  min-height: 90%;
  width: 100%;
  background-color: whitesmoke;
  padding-bottom: 3%;
}

.entry-container h2 {
  text-align: left;
  margin: 1em 6%;
  font-size: 1em;
}

.entry-container textarea {
  display: block;
  margin: 0 auto;
  width: 87.5%;
}

.entry-container .button-row {
  width: 100%;
  margin: 0 25%;
  margin: 0 auto;
}

.entry-container .button-row button {
  width: 44.05%;
  padding: 0.5em 0;
}

.entry-container .button-row .clipboard {
  color: #fff;
  background-color: rgb(106, 175, 118);
  border-color: #4cae4c;
}

.entry-container .button-row .clipboard:hover {
  background-color: #47a447;
  border-color: #398439;
}

.entry-container .button-row .delete {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.entry-container .button-row .delete:hover {
  background-color: #d2322d;
  border-color: #ac2925;
}

.access-input {
  width: 25%;
  font-size: 2em;
}
@media only screen and (max-width: 1140px) {
  .admin-page {
    width: 100%;
    max-width: none;
  }

  .entry-container {

  }
  .placeholder-box {
    height: 0;
  }
}
