.admin-page {
  height: auto;
  width: calc(100% - 2vh);
  max-width: 69em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.placeholder-box {
  height: 40px;
}

.delete-modal-container {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 1;
  text-align: center;
  padding: 25em 0 0 0;
}

.delete-modal-container .delete-modal {
  height: 32em;
  width: 55em;
  background-color: whitesmoke;
  display: inline-block;
}

.delete-modal-container .delete-modal .delete-input {
  font-size: 2em;
}
.delete-modal-container .delete-modal .button-row {
  margin-top: 3em;
}

.delete-modal-container .delete-modal .button-row button {
  width: 30%;
  margin: 0 2em;
  transform: scale(1.1);
}

.entry-container {
  min-height: 90%;
  width: 100%;
  background-color: whitesmoke;
  padding-bottom: 3%;
}
.entry-container h1 {
  text-align: center;
}
.entry-container h2 {
  text-align: left;
  margin: 1em 6%;
  font-size: 1em;
}

.entry-container .upper-h2 {
  text-align: center;
  transform: translateY(-1.4em);
}

.entry-container .upper-h2-header {
  font-size: 2em;
}

.entry-container .upper-h2-content {
  font-size: 1.3em;
  transform: translateY(-3em);
}
.entry-container textarea {
  display: block;
  margin: 0 auto;
  width: 87.5%;
}

.entry-container .button-row {
  width: 87.5%;
  text-align: center;
  display: flex;
  margin: 0 auto;
}

.entry-container .button-row button {
  width: 33.33%;
  padding: 0.5em 0;
  margin: 0 auto;
}

.entry-container .button-row .clipboard {
  color: #fff;
  background-color: rgb(106, 175, 118);
  border-color: #4cae4c;
}

.entry-container .button-row .clipboard:hover {
  background-color: #47a447;
  border-color: #398439;
}

.entry-container .button-row .delete {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

.entry-container .button-row .delete:hover {
  background-color: #d2322d;
  border-color: #ac2925;
}

.access-input {
  width: 10em;
  font-size: 2em;
  display: block;
  margin: 0 auto;
}

.remember-row {
  width: 10em;
  display: block;
  font-size: 1.5em;
  margin: 0 auto;
  text-align: center;
}
.remember-row input {
  transform: scale(1.5);
}
@media only screen and (max-width: 1140px) {
  .admin-page {
    width: 100%;
    height: 100%;
    max-width: none;
  }
  .entry-container {
    height: 100%;
    padding-bottom: 0;
  }
  .placeholder-box {
    height: 0;
    width: 0;
  }
}
