.App {
  background-color: rgb(106, 175, 118);
  height: auto;
  width: 100%;
  min-height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form-container,
.entry-container {
    background-color: white;
    margin: 0 auto;
    padding: 8% 10%;
    box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 27px -8px;
}

.page-heading {
  text-align: left;
  margin-bottom: 0;
}
.other {
  margin-top: 0;
  margin-bottom: 2.5em;
  text-align: left;
}
.other, .body-copy-light {
  color: rgba(0,0,0,0.4);
  margin-bottom: 1.2em;
}

.section-heading {
  margin-bottom: 0;
}

.body-copy {
  color: grey;
}

.body-copy-light {
  margin-top: 0.2em;
}
.questions {
}

@media only screen and (max-width: 1140px) {
  .App {
    background-color: none;
  }

  .form-container,
  .entry-container {
      box-shadow: none;
  }
}

@media only screen and (max-width: 650px) {
  form {
    width: 100%;
  }

  .row-buttons {
    margin: 2em 0 1em 0;
    width: 100%;
    justify-content: space-between;
  }

  .allow-comments-button-no {
    margin-left: 0;
  }

  .btn-block {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .error-box {
    min-width: 0;
    max-width: 425px;
    width: 97%;
    margin-bottom: 4vw;
  }
  .error-box h3 {
    font-size: 3.3vw;
  }
  .error-box p {
    font-size: 2.7vw;
  }

  .page-heading {
    font-size: 6.6vw;
  }
  .other {
    font-size: 5.5vw;
  }
  .section-heading {
    font-size: 4.4vw;
    margin-top: 0;
  }
  .body-copy-light {
    font-size: 3.3vw;
  }
  .body-copy {

  }

  .guidelines-body {
    transform: translateX(calc(-3em + 6vw));
    margin-bottom: 10vw;
  }
  .tw-docs {
    margin-bottom: 0;
  }
  .twdocs-row {
    margin-bottom: calc(14vw - 2em);
  }
  .guidelines-body li {
    font-size: 2.8vw;
  }

  .checkbox-inline input[type='checkbox'] {
    transform: translateY(calc(-0.1em + 2vw)) scale(1.2);
  }

  .checklist .checklist-entry input {
    transform: translateY(3px) scale(0.9);
  }

  .questions,
  .form-group h4 {
    font-size: 3.3vw;
    margin: 0;
  }

  .form-group {
    margin-bottom: 4vw;
  }
  .form-group label {
    margin-bottom: 1.5vw;
  }
  .labeltext {
    font-size: 2.4vw;
  }
  .form-control {
    font-size: 2.7vw;
    height: auto;
  }
  .btn-block {
    font-size: 3.3vw;
    margin-bottom: 15vw;
  }
}
