.form-container {
    background-color: white;
    margin: 0 auto;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 27px -8px;
    width: calc(100% - 2vh);
    max-width: 69em;
}

.guideline-title {
    color: darkred;
}

main {
  height: auto;
  width: calc(100% - 2vh);
  max-width: 69em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
h2 {
    margin-bottom: 5%;
}

h1 {
    font-weight: bold;
    text-shadow: 3px 1px 7px rgba(150, 150, 150, 1);
    font-size: 3em;
}

img {
    display: initial !important; /* need to fix this */
}

input, textarea {
    background-color: #eceaea !important; /* need to fix this */
}

label {
    font-size: 2em;
}

input[type='radio'] {
    transform: translateY(0.4em) scale(1.5);
}


.error-box {
  margin: 0 auto;
  display: block;
  padding: 1%;
  background-color: rgba(192,72,72, 0.8);
  color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 0.5em;
}

.error-box p {
  text-align: left;
  transform: translateX(6%);
  font-size: 1.35em;
}


@media only screen and (max-width: 1140px) {
  .form-container {
    width: 100%;
    max-width: none;
  }

  main {
    width: 100%;
    max-width: none;
  }

  .entry-container {

  }
  .placeholder-box {
    height: 0;
  }
}
