.form-container {
    background-color: white;
    margin: 0 auto;
    padding: 8% 10%;
    box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 27px -8px;
}

.submitted {
  text-align: center;
}

.submitted h1 {
  text-align: center;
}

.guideline-title {
    color: darkred;
}

.form-control {
  border-radius: 0;
}

.form-group {
  margin-bottom: 1.5em;
}
main {
  height: auto;
  width: calc(100% - 2vh);
  max-width: 80em;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
h2 {
    /* margin-bottom: 5%; */
}

h1 {
    text-align: left;
    /* font-weight: bold;
    text-shadow: 3px 1px 7px rgba(150, 150, 150, 1);
    font-size: 3em; */
}

h3 {
  text-align: left;
}
img {
    display: initial !important; /* need to fix this */
}

input, textarea {
    background-color: #eceaea !important; /* need to fix this */
}

label {
    /* font-size: 2em; */
}

form {
  max-width: 67%;
}



.error-box {
  margin: 0 auto;
  display: block;
  padding: 1%;
  background-color: rgba(192,72,72, 0.8);
  color: whitesmoke;
  width: 80%;
  text-align: center;
  border-radius: 0.5em;
}

.error-box p {
  text-align: left;
  transform: translateX(6%);
  font-size: 1.35em;
}

.page-heading {
  margin-bottom: 0;
}

.other {
  margin-top: 0;
  margin-bottom: 2.5em;
  text-align: left;
}
.other, .body-copy-light {
  color: rgba(0,0,0,0.4);
  margin-bottom: 1.2em;
}

.section-heading {
  margin-bottom: 0;
}
.body-copy {
  color: grey;
}

.body-copy-light {
  margin-top: 0.2em;
}
.questions {
}
.guidelines-body {
  transform: translateX(-10px);
  margin-bottom: 4em;
}

.guidelines-body li {
  line-height: 1.3em;
  font-size: 1.1em;
  height: auto;
}

.checkbox-inline {
  margin: 0;
  margin-left: 20px;
}

.checkbox-inline input[type='checkbox'] {
  transform: translateY(0.6em) scale(1.3);
}

.checklist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 4em;
  width: 75%;
}
.checklist .checklist-entry {
  width: auto;
}
.checklist .checklist-entry input {
  transform: translateY(2px);
}
.checklist h5 {
  display: inline;
}

.twdocs-row, .allow-comments {
  margin-bottom: 4em;
}
.row-buttons {
  display: flex;
  width: 40%;
  margin-left: 5px;
}

.allow-comments {
  margin-top: 4em;
}
.allow-comments-button {
  color: #6c757d;
  border-color: #6c757d;
  background-color: transparent;
  border-radius: 20%/50%;
  width: 100px;
  transition-duration: 400ms;

}

.allow-comments-button:hover,
.allow-comments-button-selected {
  color: #fff;
  background-color: #6c757d;
}

.allow-comments-button:active,
.allow-comments-button:focus {
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(103,117,125,.5);
}
.allow-comments-button h4 {
  margin: 0;
}

.allow-comments-button-no {
  margin-left: auto;
}

input[type='radio'] {
    transform: translateY(0.4em) scale(1.7);
}

.btn-block {
  width: 20%;
  font-size: 1.5em;
  padding: 0.5em;
  margin-top: 2.5em;
  margin-bottom: 3em;
  background-color: rgb(106, 175, 118);
}

@media only screen and (max-width: 1140px) {
  .form-container {
    width: 100%;
    max-width: none;
  }
  .submitted {
    height: 100vh;
  }

  .submitted h1 {
    /* margin-top: 32vh; */
  }

  .checklist {
    width: 100%;
  }

  main {
    width: 100%;
    max-width: none;
  }

  .entry-container {

  }
  .placeholder-box {
    height: 0;
  }

  form {
    width: 36em;
    max-width: none;
  }
}

@media only screen and (max-width: 775px) {
  .submitted h1 {
    font-size: 4.7vw;
  }
  .submitted h2 {
    font-size: 3.9vw;
  }
}
@media only screen and (max-width: 650px) {
  form {
    width: 100%;
  }

  .row-buttons {
    margin: 2em 0 1em 0;
    width: 100%;
    justify-content: space-between;
  }

  .allow-comments-button-no {
    margin-left: 0;
  }

  .btn-block {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {

  .page-heading {
    font-size: 6.6vw;
  }
  .other {
    font-size: 5.5vw;
  }
  .section-heading {
    font-size: 4.4vw;
    margin-top: 0;
  }
  .body-copy-light {
    font-size: 3.3vw;
  }
  .body-copy {

  }

  .guidelines-body {
    transform: translateX(calc(-3em + 6vw));
    margin-bottom: 10vw;
  }
  .tw-docs {
    margin-bottom: 0;
  }
  .twdocs-row {
    margin-bottom: calc(14vw - 2em);
  }
  .guidelines-body li {
    font-size: 2.8vw;
  }

  .checkbox-inline input[type='checkbox'] {
    transform: translateY(calc(-0.1em + 2vw)) scale(1.2);
  }

  .checklist .checklist-entry input {
    transform: translateY(3px) scale(0.9);
  }

  .questions,
  .form-group h4 {
    font-size: 3.3vw;
    margin: 0;
  }

  .form-group {
    margin-bottom: 4vw;
  }
  .form-group label {
    margin-bottom: 1.5vw;
  }
  .labeltext {
    font-size: 2.4vw;
  }
  .form-control {
    font-size: 2.7vw;
    height: auto;
  }
  .btn-block {
    font-size: 3.3vw;
    margin-bottom: 15vw;
  }
}
