.form-container {
    background-color: white;
    margin: 5% 10%;
    padding: 5%;
    box-shadow: rgba(0, 0, 0, 0.75) 10px 10px 27px -8px;;
}

h1 {
    font-weight: bold;
    text-shadow: 3px 1px 7px rgba(150, 150, 150, 1);
    font-size: 3em;
}

img {
    display: initial !important; /* need to fix this */
}

input, textarea {
    background-color: #eceaea !important; /* need to fix this */
}

label {
    font-size: 2em;
}

input[type='radio'] {
    transform: scale(1.5);

}

